#matches
  #new= link_to "Add match", new_match_path
  #match-list
    - @matches.each do |match|
      %p
        = link_to_game_and_match "#{match.game.titleize}","on #{match.created_at.to_date.readable_inspect}", match