#match
  %p
    %h1= "#{@match.game.titleize}"
  .half.border.left
    Winners
    .winner
      - @match.winners.each do |p|
        = link_to p.name.titleize, p
  .half.border.right
    Losers
    .loser
      - @match.losers.each do |p|
        = link_to p.name.titleize, p